= form_for @institution do |f|
  = error_messages_for @institution

  .row
    .col-md-6
      .form-group
        = f.label :institution_name, class: 'test'
        = f.text_field :institution_name, class: 'form-control'
        = f.error_messages_for(:institution_name)
    .col-md-3
      .form-group
        = f.label :short_institution_name, class: 'test'
        = f.text_field :short_institution_name, class: 'form-control'
        = f.error_messages_for(:short_institution_name)
  .row
    .col-md-6
      .form-group
        = f.label :address, class: 'test'
        = f.text_field :address, class: 'form-control'
        = f.error_messages_for(:address)
  .row
    .col-md-6
      .form-group
        = f.label :phone_number, class: 'test'
        = f.text_field :phone_number, class: 'form-control'
        = f.error_messages_for(:phone_number)
  .row
    .col-md-6
      .form-group
        = f.submit t('helpers.submit.submit'), class: 'btn btn-primary'