%h1 Высшие учебные заведения
%br

- if @institutions.blank?
  - if @current_role_user.present?
    - if @current_role_user.is_admin? || @current_role_user.is_moderator?
      .row
        .col-md-6
          .form-group{style: 'margin: 10px 0px 10px 5px; font-size: 18px;'}
            В системе пока не создано ни одного вуза!

- else
  .list-group
    - @institutions.each do |institution|
      = link_to(institution, class: 'list-group-item') do
        = institution.institution_name
        .toright
          %span.label.label-info
            = institution.short_institution_name
        .clearfix
    = paginate @institutions

- if @current_role_user.present?
  - if @current_role_user.is_admin? || @current_role_user.is_moderator?
    = link_to 'Новый вуз', new_institution_path, class: "btn btn-success"