= form_for @community_news, remote: true do |f|
  = error_messages_for @community_news

  .toright
    .row
      .col-md-3
        .form-group
          = f.label :news_body
          = f.text_area :news_body, cols: 18, rows: 8
    /  .col-md-6
    /    .form-group
    /      = f.label :user_id
    = f.hidden_field :user_id
    /.row
    /  .col-md-6
    /    .form-group
    /      = f.label :community_id
    = f.hidden_field :community_id
    .row
      .col-md-3
        .form-group
          /= link_to('Опубликовать', add_one_news_communities_path, remote: true)
          = f.submit 'Опубликовать', class: 'btn btn-primary', remote: true