= form_for @discipline do |f|
  - if @discipline.errors.any?
    #error_explanation
      %h2= "#{pluralize(@discipline.errors.count, "error")} prohibited this discipline from being saved:"
      %ul
        - @discipline.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :discipline_name
    = f.text_field :discipline_name
  .field
    = f.label :discipline_type
    = f.select(:discipline_type, type_options(f.object.discipline_type))
  .field
    = f.label :discipline_end
    = f.select(:discipline_end, end_options(f.object.discipline_end))
  .field
    = f.label :term_id
    = f.select(:term_id, term_options(f.object.term_id))
  .field
    = f.label :ranking_algorithm_id
    = f.select(:ranking_algorithm_id, ranking_algorithm_options(f.object.ranking_algorithm_id))
  .actions
    = f.submit 'Save'
