= form_for @discipline do |f|
  = error_messages_for @discipline

  .row
    .col-md-8
      .form-group
        = f.label :discipline_name
        = f.text_field :discipline_name, class: 'form-control'
        = f.error_messages_for(:discipline_name)
  .row
    .col-md-6
      .form-group
        /= f.collection_check_boxes :discipline_type, Discipline::DIS_TYPES, :first, :last
        = f.label :discipline_type
        - Discipline::DIS_TYPES.each do |k, v|
          %div
            = f.check_box :discipline_type, :value => k
            %span= v

        /= f.select(:discipline_type, discipline_type_options(f.object.discipline_type), {}, class: 'form-control')
        /= f.error_messages_for(:discipline_type)

    .col-md-6
      .form-group
        = f.label :discipline_end
        - Discipline::DIS_END.each do |k, v|
          %div
            = f.radio_button(:discipline_end, k)
            %span= v
  .row
    .col-md-6
      .form-group
        = f.label :term_id
        = f.select(:term_id, term_options(f.object.term_id), {}, class: 'form-control')
        = f.error_messages_for(:term_id)
  .row
    .col-md-6
      .form-group
        = f.label :ranking_algorithm_id
        = f.select(:ranking_algorithm_id, ranking_algorithm_options(f.object.term_id), {include_blank: true}, class: 'form-control')
        = f.error_messages_for(:ranking_algorithm_id)

  .row
    .col-md-6
      .form-group
        = f.submit t('helpers.submit.submit'), class: 'btn btn-primary'
