%h1 Дисциплины
/ видят ли эту страницы студенты/преподаватели?

- if @disciplines.blank?
  - if @current_role_user.present?
    - if @current_role_user.is_admin? || @current_role_user.is_moderator?
      .row
        .col-md-6
          .form-group{style: 'margin: 10px 0px 10px 5px; font-size: 18px;'}
            В системе пока не создано ни одной дисциплины!

- else
  .list-group
    - @disciplines.each do |discipline|
      = link_to(discipline, class: 'list-group-item') do
        = discipline.discipline_name
        .toright
          - discipline.discipline_type.each do |dis_type|
            %span.label.label-primary
              = discipline_short_types(dis_type)
          %span.label.label-info
            = discipline_end_types(discipline.discipline_end)
          - if @current_role_user.present?
            - if @current_role_user.is_admin? || @current_role_user.is_moderator?
              %span.label.label-success
                = discipline.term.term_name

        .clearfix

- if @current_role_user.present?
  - if @current_role_user.is_admin? || @current_role_user.is_moderator?
    = link_to 'Новая дисциплина', new_discipline_path, class: "btn btn-success"