%p#notice= notice

%p
  %b
    = Discipline.human_attribute_name(:discipline_name) + ":"
  = @discipline.discipline_name
%p
  %b
    = Discipline.human_attribute_name(:discipline_type) + ":"
  = discipline_types(@discipline.discipline_type)
%p
  %b
    = Discipline.human_attribute_name(:discipline_end) + ":"
  = discipline_end_types(@discipline.discipline_end)
%p
  %b
    = Discipline.human_attribute_name(:term_id) + ":"
  = @discipline.term.term_name
%p
  %b
    = Discipline.human_attribute_name(:ranking_algorithm_id) + ":"
  = @discipline.ranking_algorithm.algorithm_name

= link_to t('helpers.edit'), edit_discipline_path(@discipline), class: 'btn btn-primary'
/\|
/= link_to 'Back', disciplines_path