%h1 Учебные семестры
%br

- if @terms.blank?
  - if @current_role_user.present?
    - if @current_role_user.is_admin? || @current_role_user.is_moderator?
      .row
        .col-md-6
          .form-group{style: 'margin: 10px 0px 10px 5px; font-size: 18px;'}
            В системе пока не создано ни одного учебного семестра!

- else
  .list-group
    - @terms.each do |term|
      = link_to(term, class: 'list-group-item') do
        = term.term_name
        \(
        = term.term_start.strftime('%m/%d/%Y')
        \-
        = term.term_end.strftime('%m/%d/%Y')
        \)
        - if term.actual
          .toright
            %span.label.label-info
              Текущий

        .clearfix
    = paginate @terms

- if @current_role_user.present?
  - if @current_role_user.is_admin? || @current_role_user.is_moderator?
    = link_to 'Новый семестр', new_term_path, class: "btn btn-success"