= form_for @study_file do |f|
  - if @study_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@study_file.errors.count, "error")} prohibited this study_file from being saved:"
      %ul
        - @study_file.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.select(:user_id, user_options(f.object.user_id))
  .field
    = f.label :study
    -if f.object.study.present?
      =link_to(f.object.study_file_name, show_file_message_path(f.object))
    -else 
      Еще не сохранен
    = f.file_field :study
  .actions
    = f.submit 'Save'
