%h1 Listing study_files

%table
  %thead
    %tr
      %th User
      %th
      %th
      %th Study
      %th
      %th
      %th

  %tbody
    - @study_files.each do |study_file|
      %tr
        %td= study_file.user.last_name
        %td= study_file.user.first_name
        %td= study_file.user.second_name
        %td= study_file.study_file_name
        %td= link_to 'Show', study_file
        %td= link_to 'Edit', edit_study_file_path(study_file)
        %td= link_to 'Destroy', study_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Study file', new_study_file_path
