%h1 Учебные группы
%br

- if @groups.blank?
  - if @current_role_user.present?
    - if @current_role_user.is_admin? || @current_role_user.is_moderator?
      .row
        .col-md-6
          .form-group{style: 'margin: 10px 0px 10px 5px; font-size: 18px;'}
            В системе пока не создано ни одной учебной группы!

- else
  .list-group
    - @groups.each do |group|
      = link_to(group, class: 'list-group-item') do
        = group.group_name
        .toright
          %span.label.label-info
            = group.term.term_name
        .clearfix
    = paginate @groups

- if @current_role_user.present?
  - if @current_role_user.is_admin? || @current_role_user.is_moderator?
    = link_to 'Новая группа', new_group_path, class: "btn btn-success"