%h1 Список групп

%table.table
  %thead
    %tr
      %th Название группы
      %th Дата образования
      %th Дата архивации
      %th Семестр обучения
      %th
      %th
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.group_name
        %td= group.group_start
        %td= group.archive_time
        %td= group.term.term_name
        %td
          .toright
            = link_to group, class: 'label blue' do
              Показать
        %td
          .toright
            = link_to edit_group_path(group), class: 'label yellow' do
              Редактировать
        %td 
          .toright
            = link_to group, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'label red' do
              Удалить

%br

= link_to 'Новая группа', new_group_path, class: "btn btn-success"
