%h1 Пользователи


.list-group
  - @users.each do |user|
    = link_to(user, class: 'list-group-item') do
      = user.last_name
      = user.first_name
      = user.second_name
      .clearfix


- if @current_role_user.present?
  - if @current_role_user.is_admin? || @current_role_user.is_moderator?
    = link_to 'Новый пользователь', new_user_path, class: "btn btn-success"
