%h1 Listing community_users

%table
  %thead
    %tr
      %th Link type
      %th Community
      %th User
      %th
      %th  
      %th
      %th
      %th

  %tbody
    - @community_users.each do |community_user|
      %tr
        %td= community_user.link_type
        %td= community_user.community.community_name
        %td= community_user.user.last_name
        %td= community_user.user.first_name
        %td= community_user.user.second_name
        %td= link_to 'Show', community_user
        %td= link_to 'Edit', edit_community_user_path(community_user)
        %td= link_to 'Destroy', community_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Community user', new_community_user_path
