= form_for @community_content do |f|
  - if @community_content.errors.any?
    #error_explanation
      %h2= "#{pluralize(@community_content.errors.count, "error")} prohibited this community_content from being saved:"
      %ul
        - @community_content.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :view_type
    = f.select(:view_type, view_type_options(f.object.view_type))
  .field
    = f.label :content_body
    = f.text_area :content_body
  .field
    = f.label :content_visibility
    = f.select(:content_visibility, visibility_options(f.object.content_visibility))
  .field
    = f.label :show
    = f.datetime_select :show
  .field
    = f.label :community_tab_id
    = f.select(:community_tab_id, community_tab_options(f.object.community_tab_id))
  .field
    = f.label :creator_id
    = f.select(:creator_id, user_options(f.object.creator_id))
  .actions
    = f.submit 'Save'
