%h1 Listing community_contents

%table
  %thead
    %tr
      %th View type
      %th Content body
      %th Content visibility
      %th Show
      %th Community tab
      %th Creator
      %th
      %th
      %th

  %tbody
    - @community_contents.each do |community_content|
      %tr
        %td= community_content.view_type
        %td= community_content.content_body
        %td= community_content.content_visibility
        %td= community_content.show
        %td= community_content.community_tab
        %td= community_content.creator
        %td= link_to 'Show', community_content
        %td= link_to 'Edit', edit_community_content_path(community_content)
        %td= link_to 'Destroy', community_content, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Community content', new_community_content_path
