%h1 Разделы дисциплин

%table
  %thead
    %tr
      %th Section name
      %th Section type
      %th Weight
      %th Min score
      %th Max score
      %th Require type
      %th Attenuation constant
      %th Optimal time
      %th Limit time
      %th Discipline
      %th
      %th
      %th

  %tbody
    - @discipline_sections.each do |discipline_section|
      %tr
        %td= discipline_section.section_name
        %td= discipline_section.section_type
        %td= discipline_section.weight
        %td= discipline_section.min_score
        %td= discipline_section.max_score
        %td= discipline_section.require_type
        %td= discipline_section.attenuation_constant
        %td= discipline_section.optimal_time
        %td= discipline_section.limit_time
        %td= discipline_section.discipline.discipline_name
        %td= link_to 'Show', discipline_section
        %td= link_to 'Edit', edit_discipline_section_path(discipline_section)
        %td= link_to 'Destroy', discipline_section, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if @current_role_user.present?
  - if @current_role_user.is_admin? || @current_role_user.is_moderator?
    = link_to 'Новый раздел дисциплины', new_discipline_section_path, class: "btn btn-success"