%h1 Listing ranking_algorithms

%table
  %thead
    %tr
      %th Algorithm name
      %th Template
      %th
      %th
      %th

  %tbody
    - @ranking_algorithms.each do |ranking_algorithm|
      %tr
        %td= ranking_algorithm.algorithm_name
        %td= ranking_algorithm.template
        %td= link_to 'Show', ranking_algorithm
        %td= link_to 'Edit', edit_ranking_algorithm_path(ranking_algorithm)
        %td= link_to 'Destroy', ranking_algorithm, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ranking algorithm', new_ranking_algorithm_path
