%p#notice= notice

%p
  %b
    = RankingAlgorithm.human_attribute_name(:algorithm_name) + ":"
  = @ranking_algorithm.algorithm_name
%p
  %b
    = RankingAlgorithm.human_attribute_name(:template) + ":"
  = @ranking_algorithm.template

= link_to 'Edit', edit_ranking_algorithm_path(@ranking_algorithm)
\|
= link_to 'Back', ranking_algorithms_path
