%h1 Listing roles

%table
  %thead
    %tr
      %th Role name
      %th Full name
      %th Role name eng
      %th
      %th
      %th

  %tbody
    - @roles.each do |role|
      %tr
        %td= role.role_name
        %td= role.full_name
        %td= role.role_name_eng
        %td= link_to 'Show', role
        %td= link_to 'Edit', edit_role_path(role)
        %td= link_to 'Destroy', role, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Role', new_role_path
