= form_for @message_list do |f|
  = error_messages_for @message_list

  .row
    .col-md-8
      .form-group
        = f.label 'Тема'
        = f.text_field :header, :border => '1px solid #c5d9d5', class: 'form-control'
  .row
    .col-md-8
      .form-group
        = f.text_field :users,
        value: f.object.users.map{ |u| u.email }, class: 'tagsInput'
      .toright
        = f.submit 'Создать', class: 'btn btn-primary'