=breadcrumb_tag do
  %li
    Сообщения
  %li.active
    =link_to(ellipsisize(@message_list.header.to_s), @message_list)

.col-md-8
  %h1
    = @message_list.header
  %div{style: 'border: solid 1px ; border-color: #c5d9d5; padding: 0 5px 0 5px; margin: 0 0 10px 0;'}
    #messages_index
      = render 'messages/index', messages: @messages
  = render 'messages/form'
.col-md-4
  %h3
    Участники (
    = @message_list.users.count
    \)
  .list-group
  - @message_list.users.each do |u|
    = link_to(u, class: 'list-group-item') do
      - if $online.include?(u.email)
        .circle-green{ id: 'user' + u.id.to_s }
        = u.last_name
        = u.first_name
        = u.second_name
      - else
        .circle-red{ id: 'user' + u.id.to_s }
        = u.last_name
        = u.first_name
        = u.second_name
