= form_for @community do |f|
  - if @community.errors.any?
    #error_explanation
      %h2= "#{pluralize(@community.errors.count, "error")} prohibited this community from being saved:"
      %ul
        - @community.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :community_name
    = f.text_field :community_name
  .field
    = f.label :community_visibility
    = f.select(:community_visibility, visibility_options(f.object.community_visibility))
  .field
    = f.label :archive
    = f.select(:archive, archive_options(f.object.archive))
  .actions
    = f.submit 'Save'
