= form_for @community do |f|
  = error_messages_for @community

  .row
    .col-md-6
      .form-group
        = f.label :community_name, class: 'test'
        = f.text_field :community_name, class: 'form-control'
        = f.error_messages_for(:community_name)
  .row
    .col-md-6
      .form-group
        = f.label :community_visibility
        - Community::VISIBILITIES.each do |k, v|
          %div
            = f.radio_button(:community_visibility, k)
            %span{style: 'display: inline-block; vertical-align: top;'}= v
        /= f.select(:community_visibility, community_visibility_options(f.object.community_visibility), {}, class: 'form-control')
        /= f.error_messages_for(:community_visibility)
  .row
    .col-md-3
      .form-group
        = f.label :archive
        = f.check_box :archive, style: 'margin: 0px 0px 0px 15px; vertical-align: middle;'
        = f.error_messages_for(:archive)

  = f.fields_for :community_disciplines do |dis_form|
    .row
      .col-md-6
        .form-group
          = dis_form.label 'Дисциплина'
          = dis_form.select(:discipline_id, discipline_options(dis_form.object.discipline_id), {include_blank: true}, class: 'form-control')
          = dis_form.error_messages_for(:discipline_id)


  .community_users
    .row
      .col-md-6
        .form-group
          .add-users
            = link_to ?#, class: 'btn btn-primary', data: add_user_data(f), id: 'add_cu_link' do # data - вспомогательные атрибуты, которые могут быть любого тега. в данном случае, название тегов получаются путем добавления к слову "data-" ключей хэша, генерируемых в функции add_user_data. Реально эта ф-я генерирует только один data атрибут - "data-contents", в котором хранится html-код, который нужно добавить на страницу каждый раз при нажатии на ссылку
              = fa_icon :plus
              Добавить пользователей в сообщество
    = f.fields_for :community_users do |addy_form| # Показывает community_users, если они есть (перебирает), сохраняет данные при ошибке
      = render('community_users/add_community_user', addy_form: addy_form)
  .row
    .col-md-6
      .form-group
        = f.submit t('helpers.submit.submit'), class: 'btn btn-primary'