%h1 Сообщества


/ Если сообществ нет, то будет сообщение
- if @communities.blank?
  - if @current_role_user.present?
    - if @current_role_user.is_admin? || @current_role_user.is_moderator?
      .row
        .col-md-6
          .form-group{style: 'margin: 10px 0px 10px 5px; font-size: 18px;'}
            В системе пока не создано ни одного сообщества!
    - else
      .row
        .col-md-6
          .form-group{style: 'margin: 10px 0px 10px 5px; font-size: 18px;'}
            Вы не состоите ни в каком сообществе!

- else
  .list-group
    - @communities.each do |community|
      = link_to(community, class: 'list-group-item') do
        = community.community_name
        .toright
          - if @current_role_user.present?
            - if @current_role_user.is_admin? || @current_role_user.is_moderator?
              %span.label.label-success
                = community_visibility_types(community.community_visibility)
                / остается вопрос с доступностью надписей для различных ролей
          %span.label.label-info
            = community_archive_types(community.archive)

        .clearfix

- if @current_role_user.present?
  - if @current_role_user.is_admin? || @current_role_user.is_moderator?
    = link_to 'Новое сообщество', new_community_path, class: "btn btn-success"
