%p#notice= notice

%p
  %b
    = Community.human_attribute_name(:community_name) + ":"
  = @community.community_name
%p
  %b
    = Community.human_attribute_name(:community_visibility) + ":"
  = community_visibility_types(@community.community_visibility)
%p
  %b
    = Community.human_attribute_name(:archive) + ":"
  = community_archive_types(@community.archive)

/= link_to t('helpers.edit'), edit_community_path(@community)
/= link_to t('helpers.back'), communities_path
