= form_tag user_sessions_path, :method => :post do
  .row
    .col-md-6
      .form-group
        = label_tag 'Адрес электронной почты'
        = text_field_tag :email, "", class: 'form-control'
  .row
    .col-md-6
      .form-group
        = label_tag 'Пароль'
        = password_field_tag :password, "", class: 'form-control'
  .row
    .col-md-6
      .form-group
        = check_box_tag :remember, params[:remember], true, style: 'margin: 0px 0px 0px 0px; vertical-align: middle;'
        = label_tag 'Запомнить'
  .actions
    .row
      .col-md-6
        .form-group
          = submit_tag t('helpers.submit.login'), class: 'btn btn-primary'

  .row
    .col-md-6
      .form-group
        = link_to 'Зарегистрироваться', new_user_path, class: "btn btn-success"
