= form_tag user_sessions_path, :method => :post do
  .row
    .col-md-6
      .form-group
        = label_tag :email
        = text_field_tag :email
  .row
    .col-md-6
      .form-group
        = label_tag :password
        = password_field_tag :password
  .row
    .col-md-6
      .form-group
        = check_box_tag :remember, params[:remember], true
        = label_tag :remember
  .actions
    .row
      .col-md-6
        .form-group
          = submit_tag t('helpers.submit.login'), class: 'btn btn-primary'

  .row
    .col-md-6
      .form-group
        = link_to 'Зарегистрироваться', new_user_path, class: "btn btn-success"
