= form_tag user_sessions_path, :method => :post do
  .row
    .col-md-6
      .form-group
        /%label Адрес электронной почты
        /%input.form-control{:placeholder => "email", :type => "email"}
        = label_tag :email
        = text_field_tag :email
  .row
    .col-md-6
      .form-group
        /%label Пароль
        /%input.form-control{:placeholder => "password", :type => "password"}
        = label_tag :password
        = password_field_tag :password
  .row
    .col-md-6
      .form-group
        /.checkbox
        /  %label
        /    %input{:type => "checkbox"}
        /      Запомнить
        = check_box_tag :remember, params[:remember], true
        = label_tag :remember
  .actions
    .row
      .col-md-6
        .form-group
          = submit_tag t('helpers.submit.login'), class: 'btn btn-primary'


  .row
    .col-md-6
      .form-group
        = link_to 'Зарегистрироваться', new_user_path, class: "btn btn-success"
